<html>
{% block head %}
<head>
<title>Pradakshna App</title>
</head>
{% endblock %}
<body>
	{% block content %}
	<div>
		<a href="{{ url_for('index') }}">Home</a>
		{% if current_user.is_authenticated %}
		<a href="{{ url_for('logout') }}">logout</a>
		{% else %}
		<a href="{{ url_for('login')}}">login</a>
		{% endif %}
	</div>
	{% endblock %}
</body>
</html>