{% extends "base.html" %}
{% block content %}
	<div>
		<a href="{{ url_for('index') }}">Home</a>
		{% if current_user.is_authenticated %}
		<a href="{{ url_for('logout') }}">logout</a>
		{% else %}
		<a href="{{ url_for('login')}}">login</a>
		{% endif %}
	</div>
	<h1> welcome {{ current_user.username }} </h1>

{% endblock %}