{% extends "base.html" %}
{% block content %}
 	<form action="" method="post" nonvalidate>
	{{ form.hidden_tag() }}
	<p>
		{{ form.username.label}}<br>
		{{ form.username(size=32)}}
	</p>
	<p>
		{{ form.password.label}}<br>
		{{ form.password(size=32) }}
	</p>
	<p>
		{{ form.remember_me.label}}<br>
		{{ form.remember_me() }}
	</p>
	<p>
		{{ form.submit }}
	</p>
	</form>
	<p>New User?<a href="{{ url_for('register') }}">Register</a></p>
{% endblock %}