{% extends "base.html " %}
{% block head %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PRADAKSHANA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="/static/css/fontastic.css">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/static/css/style.violet.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/static/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/static/img/favicon.ico">
   
  </head>
{% endblock %}

{% block content %}
    <div class="page login-page">
      <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
          <div class="row">
            <!-- Logo & Information Panel-->
            <div class="col-lg-6 col-xs-6">
              <div class="info d-flex align-items-center">
                <div class="content row" style="text-align: center;">
                  <div class="logo col-xs-12"  >
                    <img src="/static/img/logo.png" alt="PRADAKSHANA">
                   <p class ="col-xs-12" >PRADAKSHANA FINTECH PRIVATE LTD.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Form Panel    -->
            <div class="col-lg-6 bg-white">
              <div class="form d-flex align-items-center">
                <div class="content">
                  <form method="post" class="" >
                    <div class="form-group">
                      <input id="login-username" type="text" name="loginUsername" required data-msg="Please enter your username" class="input-material">
                      <small id="err_forusername" style="display: none; color: red;">Please Enter your Username </small>
                      <label for="login-username" class="label-material">User Name</label>
                    </div>
                    <div class="form-group">
                      <input id="login-password" type="password" name="loginPassword" required data-msg="Please enter your password" class="input-material">
                      <small id="err_forpassword" style="display: none; color: red;">Please Enter your Password </small>
                      <label for="login-password" class="label-material">Password</label>
                    </div><!-- <a id="login" href="index.html" class="btn btn-md btn-primary pull-right">Login</a> -->
                    <button type="button" class="btn btn-md btn-primary pull-right" onclick="func();">Login</button>
                  </form>
                  <!-- <a href="#" class="forgot-pass">Forgot Password?</a><br><small>Do not have an account? </small><a href="register.html" class="signup">Signup</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </div>
    <!-- JavaScript files-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
<!--     <script src="vendor/popper.js/umd/popper.min.js"> </script>
 -->    
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- <script src="vendor/chart.js/Chart.min.js"></script> -->
    <script src="/static/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Main File-->
    <script src="/static/js/front.js"></script>
    <script type="/static/text/javascript">
      var login_cred= {}

      function func(){
       if($("#login-username").val() == ""  || $("#login-password").val() == ""){

        if( $("#login-username").val() == "" ){
          $("#login-username").addClass("is-invalid");
          $("#err_forusername").css('display','block')
        }else{
          $("#err_forusername").css('display','none')
           $("#login-username").removeClass("is-invalid");
        }
        if( $("#login-password").val() == "" ){
          $("#login-password").addClass("is-invalid");
          $("#err_forpassword").css('display','block')
        }else{
          $("#err_forpassword").css('display','none')
           $("#login-password").removeClass("is-invalid");
        }

       }else{
          
          login_cred["username"]= $("#login-username").val();
          login_cred["password"]= $("#login-password").val();
          console.log(login_cred);

            var xhttp = new XMLHttpRequest();
             xhttp.onreadystatechange=function() {
               if (this.readyState == 4 && this.status == 200) {
                 response = this.responseText;
                     if (response == false){
                       swal(
                         'Invalid Details',
                         'Please correct username or password',
                         'error'
                       )
                     }else{
                       window.location.href="index.html"
                     }
               }
             };
             xhttp.open("POST", '127.0.0.1:5000/login' , true);
             xhttp.send(login_cred);
        } 
      }
    </script>
{% endblock %}