{% extends "base.html" %}
{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag()}}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
           {{ form.password2.label}}<br>
            {{ form.password2(size=32)}}
        </p>
        <p>
            {{ form.submit.label }}<br>
            {{ form.submit }}
        </p>
    </form>
{% endblock %}